body {
  background: white;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#playerImage, #backgroundImage {
  display: none;
}

.pixelcat {
  float: left;
  height: 250px;
  width: 250px;
}

.curiouscat {
  float: left;
  height: 250px;
  width: 250px;
  position: absolute;
  transform: translate(75%, -20%);
}

.catscratch {
  float: left;
  height: 250px;
  width: 250px;
  position: absolute;
  transform: translate(95%, 95%);
}
