.arcadeBox{  
  height: 1035px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background-image: url(../assets/backgrounds/arcade.webp);
  background-position: center;
  background-size: cover; 
}

.gameBox {
  display: inherit;
  height: 100%;
}

.shiftDown {
  position: inherit;
  top: -415px;
  left: -5px;
}

.arcadeBox > #canvas1 {
  border: 2px solid white; 
}

.gameHeader {
  font-size: 8rem;
  color: aqua;
  text-shadow: 4px 4px rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
}

#playerImage, #backgroundImage {
  display: none;
}
