a {
    color: rgb(106, 255, 255);
    font-size: x-large;
    padding-left: .4rem;
    padding-right: .5rem;
}

.eulaBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.274);  
    backdrop-filter: blur(1rem);
    width: 80rem;
    text-align: justify;
}

.eulaH1 {
    color: rgb(128, 255, 255);
    text-shadow: .4rem .4rem rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    font-size: xx-large;
}

.eulaH2 {
    color: rgb(128, 255, 255);
    text-shadow: .4rem .4rem rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    font-size: x-large;
}

.eulaP {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: .8rem;
    color: rgb(196, 255, 255);
    text-shadow: .2rem .2rem rgba(95, 255, 242, 0.342), -.5em 0 1em rgb(0, 0, 0);
    font-size: x-large;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:32rem) {
    body
    {
       margin: 0 auto;
     }
  }
  
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (max-width:481px)  {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (max-width:641px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (max-width:961px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* big landscape tablets, laptops, and desktops */
  @media (max-width:1025px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* hi-res laptops and desktops */
  @media (max-width:1281px) {
    body
   {
      margin: 0 auto;
    }
  }