.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 320px;
    backdrop-filter: blur(1rem);
    background-color: rgba(53, 53, 53, 0.192);
    font-size: large;
}

.formLabel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 8px;
    font-size: large;
  }
  
.formCheckbox {
    margin: 0 auto;
    padding: 3px;
    margin: 3px;
    font-size: large;
}

.loginh3 {
    font-size: 2.5rem;
    color: aqua;
    text-shadow: 4px 4px rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    margin: 4px;
}