.infomodal {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 41, 41, 0.35);
  backdrop-filter: blur(100px);

}
.infomodal > .infoheader {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.infomodal > .infocontent {
  width: 100%;
  padding: 10px 5px;
}
.infomodal > .infoactions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.infomodal > .infoclose {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
