.loginform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 50%;
    backdrop-filter: blur(1rem);
    background-color: rgba(53, 53, 53, 0.192);
    font-size: large;
}

.loginformLabel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 8px;
    font-size: large;
  }
  
.loginformCheckbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: large;
    padding: 2px;
    padding-right: 3.5rem;
}

.logininputArea {
    padding-left: 50px;
}

.loginh3 {
    font-size: 2.5rem;
    color: aqua;
    text-shadow: 4px 4px rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    margin: 4px;
    width: 100%;
}

.loginlabelText {
    padding: 1px;
}