.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 50rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(53, 53, 53, 0.192);
    font-size: large;
}

.inputArea {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
}

.formLabel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: .8rem;
    font-size: large;
}

.formCheckbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: large;
    padding: .2rem;
    padding-right: 3.5rem;
}

.formDOB {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: large;
    height: 2rem;
    padding: .2rem;
    padding-right: 20rem;
}

.labelText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: large;
    padding: .1rem;
}

.registerh3 {
    font-size: 2.5rem;
    color: aqua;
    text-shadow: .4rem .4rem rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    margin: .4rem;
    width: 100%;
}

.registerlinks {
    font-size: 2rem;
    color: aqua;
    text-shadow: .4rem .4rem rgba(0, 88, 88, 0.788), -.25em 0 1em rgb(0, 0, 0);
    margin: .4rem;
    width: 100%;
}

.eula {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.checkbox {
    padding-bottom: 1rem;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:32rem) {
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
}

.inputArea {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.formLabel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 115%;
    text-align: left;
}

.formCheckbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.formDOB {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-right: 1rem;
}

.labelText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.registerh3 {
    font-size: 2rem;
}

.eula {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

  }
  
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (max-width:481px)  {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (max-width:641px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (max-width:961px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* big landscape tablets, laptops, and desktops */
  @media (max-width:1025px) {
    body
   {
      margin: 0 auto;
    }
  }
  
  /* hi-res laptops and desktops */
  @media (max-width:1281px) {
    body
   {
      margin: 0 auto;
    }
  }