@font-face {
  font-family: customfont;
  src: url('src/assets/game_module/Pixeboy-z8XGD.ttf') format('truetype');
}

body {
  font-family: customfont;
}

button {
  font-family: customfont;
  font-size: 30px;
}

h1 {
  font-size: 50px;
  color: aqua;
}

p {
  font-size: 20px;
  color: aqua;
}

div {
  font-size: 30px;
  color: aqua;
}